body {
    background-image:url('https://images3.alphacoders.com/812/812062.png');
    background-size:1000px;
    font-family: Arial;
  }
  
  .menu {
    background-color: white;
  }
  
  a{
    color: dark;
    text-decoration:none;
  }
  .menu ul{
    display:flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style:none
  }
  
  .site-title{
    text-align:center;
    font-size:55px;
  }
  
  .site-subtitle {
    text-align:center
  }